
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #9d8a71 !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;

